footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: normal;
    color: black;
    text-align: start;
    background-color: rgb(227, 0, 11);
    padding: 5px;
    margin-top: 20px;
}

.copyright {
    color: black;
    margin: 0px;
    padding: 0 20px 0 0;
}


.fa {
    padding: 2px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    border-radius: 50px;
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 4px;
    border-radius: 50px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    padding: 4px;
    border-radius: 50px;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 4px;
    border-radius: 50px;
}