nav {
    background-image: url("https://www.shutterstock.com/image-photo/young-woman-fan-wear-basic-600nw-2276661263.jpg");
    background-size: 210px 130px;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 40px;
    color: white;
}

label {
    margin-top: 10px;
}

input {
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px yellow;
}

select {
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px yellow;
}

textarea {
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px yellow;
}

.submit {
    margin-top: 10px;
    background-color: rgb(255, 255, 0);
    border: 0;
    border-radius: 5px;
}

@media only screen and (min-width: 480px) {
    nav {
        background-image: none;
    }

    iframe {
        padding-top: 50px;
    }

    input {
        width: 50%;
    }

    select {
        width: 50%;
    }
    
    textarea {
        width: 50%;
    }

    .submit {
        width: 30%;
    }
}